version: "3.5"
services:
  beacon-chain:
    build:
      context: beacon-chain
      args:
        UPSTREAM_VERSION: v6.0.1
        STAKER_SCRIPTS_VERSION: 0.1.2
        BEACON_API_PORT: 3500
        DATA_DIR: /root/.lighthouse
    volumes:
      - beacon-data:/root/.lighthouse
    restart: unless-stopped
    security_opt:
      - seccomp:unconfined
    environment:
      LOG_LEVEL: info
      CHECKPOINT_SYNC_URL: ""
      EXTRA_OPTS: ""
      FEE_RECIPIENT_ADDRESS: ""
  validator:
    build:
      context: validator
      args:
        UPSTREAM_VERSION: v6.0.1
        STAKER_SCRIPTS_VERSION: 0.1.2
        DATA_DIR: /root/.lighthouse
    restart: unless-stopped
    security_opt:
      - seccomp:unconfined
    environment:
      LOG_LEVEL: info
      GRAFFITI: validating_from_DAppNode
      EXTRA_OPTS: ""
      FEE_RECIPIENT_ADDRESS: ""
      ENABLE_DOPPELGANGER: "true"
volumes:
  beacon-data: {}
